name: CI

on:
   push:
      branches: [main]

jobs:
   build:
      runs-on: ubuntu-latest

      steps:
         - uses: actions/checkout@v3

         - name: Setup Node.js
           uses: actions/setup-node@v3
           with:
              node-version: "20.x"
              cache: "npm"

         - name: Install System Dependencies
           run: |
              sudo apt-get update
              sudo apt-get install -y libvips-dev

         - name: Install dependencies
           run: |
              rm -rf node_modules
              rm -rf .cache
              rm -rf build
              npm install --legacy-peer-deps

         - name: Build with TypeScript compiler
           run: npm run build
           env:
              NODE_ENV: production
              STRAPI_DISABLE_UPDATE_NOTIFICATION: true
              STRAPI_TELEMETRY_DISABLED: true

         - name: Run Tests
           run: npm run test:unit --coverage

         - name: Copy to Digital Ocean
           uses: appleboy/scp-action@v1
           with:
              host: ${{ secrets.HOST }}
              username: ${{ secrets.USERNAME }}
              port: 22
              key: ${{ secrets.SSH_PRIVATE_KEY }}
              source: ".,!node_modules,!.cache,!.tmp"
              target: ${{ secrets.PROJECT_PATH }}

         - name: Restart application
           uses: appleboy/ssh-action@master
           with:
              host: ${{ secrets.HOST }}
              username: ${{ secrets.USERNAME }}
              port: 22
              key: ${{ secrets.SSH_PRIVATE_KEY }}
              script: |
                 cd ${{ secrets.PROJECT_PATH }}
                 export NODE_ENV=production
                 rm -rf node_modules .cache .tmp
                 npm install --omit=dev --legacy-peer-deps
                 npm run build
                 pm2 restart all
