name: CI

on:
   push:
      branches: [main]

jobs:
   build:
      runs-on: ubuntu-latest

      steps:
         - uses: actions/checkout@v3

         - name: Setup Node.js
           uses: actions/setup-node@v3
           with:
              node-version: 18.x
              cache: "npm"

         - name: Install System Dependencies
           run: |
              sudo apt-get update
              sudo apt-get install -y libvips-dev build-essential python3 pkg-config

         - name: Install dependencies
           run: npm ci

         - name: Rebuild Sharp
           run: |
              npm rebuild sharp --build-from-source
              npm install sharp --build-from-source

         - name: Run Build
           run: npm run build

         - name: Run Tests
           run: npm run test:unit --coverage

         - name: Copy to Digital Ocean
           uses: appleboy/scp-action@v1
           with:
              host: ${{ secrets.HOST }}
              username: ${{ secrets.USERNAME }}
              port: 22
              key: ${{ secrets.SSH_PRIVATE_KEY }}
              source: ".,!node_modules"
              target: ${{ secrets.PROJECT_PATH }}

         - name: Restart application
           uses: appleboy/ssh-action@master
           with:
              host: ${{ secrets.HOST }}
              username: ${{ secrets.USERNAME }}
              port: 22
              key: ${{ secrets.SSH_PRIVATE_KEY }}
              script: |
                 cd ${{ secrets.PROJECT_PATH }}
                 npm ci --omit=dev
                 npm run build
                 pm2 restart all
